<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        font-size: 40px;
        background-color: cadetblue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1;
        margin: 10px;
    }
    textarea{
        width: 100%;
    }
</style>
<body>
    <h1>Welcome to FaceBook</h1>
    <div id="form">
        <form action="/sendtweet" method="post">
            <h5>Add a post</h5>
            <div>
                <input type="text" name="Name"  placeholder="what are you thinking" >
            </div>
            <textarea type="text" name='Message' rows=5 placeholder="write what u think" ></textarea>
            <button type="submit">Post a twit</button>
        </form>
    </div>
    <% tweet.forEach(function (user) { %>
        <div>
            <div >
                <h2 id="userName">
                    <%= user.Name %>
                </h2>
               
                <h4 >
                    <%= user.Tweet %>
                    <%= user.Message %>
                </h4>
                <p>
                    <%= user.updatedAt.toLocaleString() %>
                </p>
            </div>
            <a href="/fullTweet/<%= user._id %>">read more...</a>
        </div>
        <% }) %>
</body>

</html>